.wrapper{
    margin:0 auto 0 auto;
    max-width: 480px;
}

.img_logo {
    text-align: center;
}

.centering_parent {
    text-align: center;
}

p {
    text-align: start;
    padding: -10%;
    padding-left: 20%;
}

.conteiner {
float: right;
}

.button {
    width: 60px;
    background-color: #00008B;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-radius: 7px;
}