html,body {
  height: 100%;
  margin: 0;
}

body {
  min-height: 1024px;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
}

header img {
  width: 480px;
  height: 140px;
}

.error-page {

  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.error-title {
  margin-top: 60px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 32px;
}

.error-message {
  font-weight: 700;
  font-size: 14px;
  text-align: left;
  max-width: 480px;
}

.error-message p {
  text-indent:  1em;
}

.btn-wrap {
  width: 480px;
  display: flex;
  justify-content: flex-end;
  margin-top: 130px;
  margin-right: 10px;
}

.btn-post-link {
  width: 80px;
  height: 40px;
  border: 1px solid black;
  background-color: #00008b;
  border-radius: 8px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

footer {
  background-color: #00008B;
  width: 480px;
  height: 24px;
  text-align: center;
  color: white;
  margin: 0 auto;
}
