.wrapper{
    margin:0 auto 0 auto;
    max-width: 480px;
}

.img_logo {
    text-align: center;
}

.centering_parent {
    text-align: center;
}

h2 {
    font-size: 34px;
}

p {
    text-align: start;
    padding: -10%;
    padding-left: 20%;
    font-size: 13px;
    
    line-height: 7px;
    font-weight: bold;
}

.conteiner {
float: right;
}

.button {
    width: 60px;
    height: 30px;
    background-color: #00008B;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    margin-right: 10px;
    border-radius: 7px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 0;
    width: 480px;
    height: 24px;
    font-size: 13px;
    color: #fff;
    text-align: center;
    align-items: flex-end;
    background-color: #00008B;
}