/*login.htmlに追加,変更した部分*/

.error-message {
  width: 420px;
  height: 44px;
  border: 1px solid #FF0000;
  background-color: #FFE4E1;
  color: #FF0000;
  font-size: 16px;
  font-weight: 500;
  border-radius: 12px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 27px;
}

 .login-form {
  border: 4px solid #00008b;
  border-radius: 20px;
  width: 460px;
  height: 600px;  /*微調整*/
  margin: 0 auto;
  margin-top: 40px;
 }

 .login-desc {
  font-size: 12px;
  text-align: center;
  margin-top: 28px;
  margin-bottom: 27px;   /*微調整*/
 }

 /*login.htmlに追加,変更した部分*/


html,body {
  height: 100%; 
  margin: 0; 
}

body {
  min-height: 1024px; 
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; 
}

header {
  display: flex;
  justify-content: center;
}

header img {
  width: 480px;
  height: 140px; 
}


 .login-title {
  text-align: center;
  font-size: 15px;
  font-weight: 800;
  margin-top: 27px;
 }



.label {
  font-size: 14px;
  display: block;
  margin-left: 24px;
  margin-bottom: 11px;
  
}

.login-input {
  display: block;
  width: 420px;
  height: 44px;
  border: 1px solid #00008b;
  border-radius: 12px;
  margin: 0 auto;
  margin-bottom: 25px;
  box-sizing: border-box;
}


input:placeholder-shown {
  background-color: white;
}

input:not(:placeholder-shown):valid {
  background-color: #EAF4FF;
}

.login-input :focus {
  border: 3px solid #00008b;
}

.login-button {
  display: block;
  width: 420px;
  height: 44px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  background-color: #00008B;
  color: #ffffff;
  border-radius: 12px;
  border: none;
  margin: 0 auto;
  margin-top: 47px;
}

.login-button:hover { 
  background-color: #000080;
  transform: translateY(-1px); 
  box-shadow: 0 10px 22px rgba(37,99,235,0.3);

}

.signup-link {
  display: block;
  text-align: center;
  color: #00008B;
  font-size: 14px;
  font-weight:600;
  margin-bottom: 43px;
  margin-top:28px;
}

footer {
  background-color: #00008B;
  width: 480px;
  height: 24px;
  text-align: center;
  color: white;
  margin: 0 auto;
}