<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="静的なログイン画面です">
        <meta name="viewport" content="wodth=device-width, initial-scale=1.0">
　　　　 <link rel="stylesheet" href="login.css">
        <title>ログイン画面</title>
    </head>
    <body>
        <header>
            <img src="static/site_logo.png" alt="背水の陣 ロゴ">
        </header>
        <main>
         
        </main>
        <footer>2026&copy ハッカソン冬の陣 チームH 背水の陣制作委員会</footer>
    </body>
</html>