
<!DOCTYPE html>
 <html lang="ja">
<head>
    <link rel="stylesheet" href="400.css">
</head>

<body>
 <div class="img_logo">
    <img src="../static/site_logo.png" alt="site_logo"title="site_logo" width="480" height="140">
 </div>

 <div class="wrapper">
    <div class="centering_parent">
 <h2>400 Bad Request</h2>

 <p>リクエストを処理できませんでした</p>
 <p>セッションが切れている可能性があります。</p>
 <p>ブラウザの更新やキャッシュ、Cookieを削除すると</p>
 <p>解消される場合があります。</p>
 <br>
 <br>
 <br>
 <br>

    <div class="conteiner">
       <button class="button" type="button" onclick="history.back()">戻る</button>
    </div>
   
<footer>
   2026©ハッカソン冬の陣 チームH 背水の陣制作委員会️
</footer>
</body>
</html>
