<!DOCTYPE html>
<html lang="ja">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>エラー500 | 背水の陣</title>
      <link rel="stylesheet" href="../static/css/500.css">
      <link rel="icon" type="image/png" href="../static/favicon.png">
    </head>

    <body>
      <header>
        <img src="../static/site_logo.png" alt="背水の陣ロゴ">
      </header>

      <main class="error-page">
        <h1 class="error-title">500 Internal Server Error</h1>

        <div class="error-message">
          <p>サーバーエラーが発生しました。</p>
          <p>サーバーの問題でお探しのページを表示できません。</p>
          <p>再度時間をおいてアクセスしてください。</p>
        </div>
        
        <div class="btn-wrap">
          <a class="btn-post-link" href="{{ url_for('goals_post_view')}}">戻る</a>
        </div>
      
       
      </main>

      <footer>&copy 2025 ハッカソン冬の陣 チームH 背水の陣制作委員会</footer>
    </body>
</html>