<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>my-page</title>
        <link rel="stylesheet" href="../static/css/my-page.css">
    </head>

    <body>
        <div class="signup">
          <div class="img_logo">
            <img src="../../static/site_logo.png" alt="site_logo"title="site_logo" width="480px" height="140px">
          </div>
        </div>

        <a>トップページ　>　自分の投稿一覧</a>
            <div class="menu">
                <div class="menu1">
                    <div class="top"><a href="####">トップに戻る</a></div>
                </div>
                    <div class="menu2">
                        <div class="out"><a href="###">ログアウト</a></div>
                    </div>                    
            </div>
        <div class="top_post">
            <div class="username">
                <div>ユーザーネーム</div>
                <div>更新日:2026-01-12 22:10</div>
            </div>

            <div class="post_coment">投稿内容</div>
            <div class="deatline">期日:2026/7/20</div>

            <div class="buttons">
                <div class="action_button1">
                    <button class="ouen_button">頑張れ！：2</button>
                    <button class="gekirei_button">どうした？：6</button>
                </div>
                <div class="sinchoku_button">
                    <button class="sinchoku">進捗</button>
                </div>
            </div>
        </div>
    <footer>
      2026©ハッカソン冬の陣 チームH 背水の陣制作委員会️
    </footer>
    </body>

</html>