<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>my-page</title>
        <link rel="stylesheet" href="../static/css/my-page.css">
    </head>

    <body>
        <div class="signup">
          <div class="img_logo">
            <img src="../static/site_logo.png" alt="site_logo" title="site_logo">
          </div>
        </div>

        <div class="tagu"><p>トップページ　>　自分の投稿一覧</p></div>
        <div class="menu">
            <div class="top"><button onclick="" class="return_top">トップに戻る</button></div>
            <div class="out"><button onclick="" class="return_top">ログアウト</button></div>                    
        </div>

        <div class="post_frame">
            <div class="top_post">
                <div class="username">
                    <div class="name_at">ユーザーネーム</div>
                    <div class="created_at fn_cl"><p>更新日:2026-01-12 22:10</p></div>
                </div>

                <div class="post_coment">投稿内容</div>
                <div class="deatline">期日：2026/7/20</div>

                <div class="buttons">
                    <div class="action_button1">
                        <button class="reac_button" title="投稿者本人は押せません">頑張れ！：2</button>
                        <button class="reac_button" title="投稿者本人は押せません">どうした？：6</button>
                    </div>
                    <div class="sinchoku">
                        <button onclick="" class="sinchoku_button">進捗</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="post-card-tassei">
            <div class="top_post">
                <div class="username">
                    <div class="name_at">ユーザーネーム</div>
                    <div class="created_at fn_cl"><p>更新日:2026-01-12 22:10</p></div>
                </div>

                <div class="post_coment">投稿内容</div>
                <div class="deatline">期日：2026/7/20</div>

                <div class="buttons">
                    <div class="action_button1">
                        <button class="ouen_button">頑張れ！：2</button>
                        <button class="gekirei_button">どうした？：6</button>
                    </div>
                    <div class="sinchoku">
                        <button onclick="" class="sinchoku_button">進捗</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="post-card-dannen">
            <div class="top_post">
                <div class="username">
                    <div class="name_at">ユーザーネーム</div>
                    <div class="created_at fn_cl"><p>更新日:2026-01-12 22:10</p></div>
                </div>

                <div class="post_coment">投稿内容</div>
                <div class="deatline">期日：2026/7/20</div>

                <div class="buttons">
                    <div class="action_button1">
                        <button class="ouen_button">頑張れ！：2</button>
                        <button class="gekirei_button">どうした？：6</button>
                    </div>
                    <div class="sinchoku">
                        <button onclick="" class="sinchoku_button">進捗</button>
                    </div>
                </div>
            </div>
        </div>

    <footer>
      2026©ハッカソン冬の陣 チームH 背水の陣制作委員会️
    </footer>
    </body>

</html>