<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>背水の陣</title>
        <meta name="description" content="背水の陣は頑張りたい人の背中を強めに押すSNSです。">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/my-page.css">
    </head>

    <body>
        <div class="signup">
          <div class="img_logo">
            <img src="../static/site_logo.png" alt="site_logo" title="site_logo">
          </div>
        </div>

        <div class="tagu"><p>トップページ　>　自分の投稿一覧</p></div>
        <div class="menu">
            <a href="{{ url_for('goals_post_view')}}">
                <div class="top"><button type="button" class="return_top">トップに戻る</button></div>
            </a>
            <a href="{{ url_for('logout')}}">
                <div class="out"><button type="button" class="return_top">ログアウト</button></div> 
            </a>
        </div>

        <div class="achievement">
            <div class="achievement_cnt"><img src="../static/tassei_4.png" alt="達成">：{{ total_achievement }}</div>
            <div class="achievement_cnt"><img src="../static/dannen_5.png" alt="断念">：{{ total_give_up }}</div>
        </div>
        
        <div class="flash-error">
            <p>自分の投稿のリアクションは押せません。</p>
        </div>
       <!-- ===== 自分の投稿一覧の表示　===== -->
        {% if myposts and myposts|length > 0 %}
            {% for mypost in myposts %}
            <div class="{% if mypost.achievement_status == 'achievement' %}post-card-tassei{% elif  mypost.achievement_status == 'give_up' %}post-card-dannen{% else %}post_frame{% endif %}">
                <div class="top_post">
                    <div class="username">
                        <div class="name_at">{{ mypost.user_name }}</div>
                        <div class="created_at fn_cl"><p>更新日：{{ mypost.goal_created_at }}</p></div>
                    </div>

                    <div class="post_coment">
                        {{ mypost.goal_message }}
                    </div>
                    <div class="deatline">期日：{{ mypost.goal_deadline }}</div>

                    <div class="buttons">
                        <div class="action_button1">
                            <button class="reac_button" title="投稿者本人は押せません">頑張れ！：{{ mypost.ganba_count}}</button>
                            <button class="reac_button" title="投稿者本人は押せません">どうした？：{{ mypost.doshita_count}}</button>
                        </div>
                        <a href="/goal-post/{{ mypost.id}}">
                            <div class="sinchoku">
                                <button type="button" class="sinchoku_button">進捗</button>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
        <div class="empty">
            <p>投稿がありません。</p >
        </div>
        {% endif %}


    <footer>
      2026©ハッカソン冬の陣 チームH 背水の陣制作委員会️
    </footer>
    </body>

</html>