
<!DOCTYPE html>

<html lang="ja">
    <head>
        <title>進捗ページ | 背水の陣</title>
        <link rel="stylesheet" href="../static/css/post_detail.css">
    </head>

    <body>
        <div class="post_detail">
          <div class="img_logo">
            <img src="../static/site_logo.png" alt="site_logo"title="site_logo" width="480px" height="140px">
          </div>
        </div>
        <!--
        <form method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        -->
            <div class="all">
            <div class="tagu"><a>トップページ　>　進捗ページ</a></div>
            <div class="menu">
                <div class="menu1">
                    <div class="my"><a href="/my-page">自分の投稿一覧</a></div>
                    <a href="{{ url_for('goals_post_view')}}">
                        <div class="top">トップに戻る</div>
                    </a>
                </div>
                    <div class="menu2">
                        <a href="{{ url_for('logout')}}">
                        <div class="out">ログアウト</div>
                        </a>
                    </div>
            </div>

            <div class="total_action">
                <div class="action1">
                    <img src="../static/ouen.png" width="80.3px" height="26.4px">
                      <div>：{{ reaction_summary.sum_ouen }}</div>
                </div>
                <div class="action2">
                    <img src="../static/gekirei.png" width="80.3px" height="26.4px">
                    <div>：{{reaction_summary.sum_gekirei}}</div>
                </div>
            </div>

                  <!--====== フラッシュメッセージ表示 ======-->
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
        <div class="flash flash-{{ category }}">
          {{ message }}
        </div>
        {% endfor %}
      {% endif %}
      {% endwith %}

            <div class="card
                {% if post.achievement_status == 'achievement' %}
                    post-card-tassei
                {% elif post.achievement_status == 'give_up' %}
                    post-card-dannen
                {% else %}
                    post-card
                {% endif %}
                ">

                <div class="username">
                    <div class="name">{{ post.user_name }}</div>
                    <div class="hi">更新日：{{ post.goal_created_at }}</div>
                </div>
                    <div class="post_coment">
                        <div>{{ post.goal_message }}</div>
                    </div>
                    <div class="deatline">期日：{{ post.goal_deadline }}</div>

                <div class="buttons">
                    <div class = "span">
                            <!-- 頑張れ！ -->
                            <form action = "{{ url_for('reaction_ganba',
                                                        goal_id=post.id) }}" 
                                  method="POST" style="display:inline;">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <input type="hidden" name="reaction_type_id" value="1">
                                <input type="hidden" name="next" value="{{ url_for('post_progress_view', goal_id=post.id) }}">
                                <button type="submit" class="ganba_button">頑張れ！：{{ post.total_ganba }}</button >
                            </form>

                            <!-- どうした？ -->
                            <form action = "{{ url_for('reaction_dousita',
                                                        goal_id=post.id) }}" 
                                  method="POST" style="display:inline;">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <input type="hidden" name="reaction_type_id" value="2">
                                <input type="hidden" name="next" value="{{ url_for('post_progress_view', goal_id=post.id) }}">
                                <button type="submit" class="dousita_button">どうした？ ：{{ post.total_dousita }}</button >
                            </form>
                    </div>
                    <!--
                    <form action="
                        method="post" style="display:inline;" >   
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="hidden" name="reaction_type_id" value="1">
                        <div class="action_button1">

                            <button type="submit" class="ouen_button">頑張れ！:</button>
                    </form> 
                            <button class="gekirei_button">どうした？：0</button> 
                        </div>
                    </form>
                    -->
                    
                    <div class="action_achievement">
                        {% if post.user_id == user_id %}
                            {% if post.achievement_status is none %}
                                <form action="{{url_for('update_goal_post_result',goal_id=goal_id )}}"
                                    method="post">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                    <button type="submit" name="result" value="achievement" class="tassei">
                                        達成！
                                    </button>
                                    <button type="submit" name="result" value="give_up" class="dannnen">
                                        断念...
                                    </button>
                                </form>
                            {% endif %}
                        {% endif %}
                    </div>                    
                </div>
            </div>

            
        <form class="post-detail-form"
            action="{{ url_for('create_progress_post', goal_id=goal_id) }}"
            method="post" 
            id="progress">

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            {% if post.user_id == user_id %}
            <div class="new_progress">
                <label for="progress-input">進捗入力</label>
                <textarea id="progress-input" name="content" placeholder="今の進み具合"></textarea>

                <div>
                    <button class="btn-progress" type="submit">投稿</button>
                </div>
            </div>
            {% endif %}
        </form>
            
            {% for progress_post in progress_posts %}
            <div class="progress_post">
                <div class="progress_post_frame">
                    <div class="username">
                    <!-- 進捗　-->
                        <div class="name">{{ progress_post.user_name }}</div>
                        <div class="hi">更新日：{{ progress_post.progress_created_at }}</div>
                    </div>
                    <!--
                        <div class="content">へのへのもへじ</div>
                    -->
                        <div class="post_coment">{{ progress_post.progress_message }}</div>
                        <div class="action_button2">
                            <!-- 素晴らしい -->
                            <form action = "{{ url_for('update_progress_post_reaction',
                                                        goal_id=post.id,
                                                        progress_id=progress_post.id) }}" 
                                method="POST" style="display:inline;">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <input type="hidden" name="reaction_type_id" value="3">
                                <button type="submit" class="subara_button">素晴らしい！：{{ progress_post.subarasi_count }}</button >
                            </form>

                            <!-- 根性見せろ -->
                            <form action = "{{ url_for('update_progress_post_reaction',
                                                        goal_id=post.id,
                                                        progress_id=progress_post.id) }}" 
                                method="POST" style="display:inline;">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <input type="hidden" name="reaction_type_id" value="4">
                                <button type="submit" class="konjou_button">根性見せろ！：{{ progress_post.konzyo_misero_count }}</button >
                            </form>
                        </div>
                </div>
            </div>            
            {% endfor %}


        
        </div>

    <br>                   
    <footer>
      &copy 2025 ハッカソン冬の陣 チームH 背水の陣制作委員会
    </footer>
    </body>
</html> 