<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>新規登録 | 背水の陣</title>
         <link rel="stylesheet" href="../static/css/signup.css"> 
         <link rel="icon" type="image/png" href="../static/favicon.png">

        <!-- {% block page_css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
        {% endblock %} -->

        
    </head>

  <body>
    <div class="signup">
      <div class="img_logo">
            <img src="../static/site_logo.png" alt="site_logo"title="site_logo" width="480px" height="140px">

      <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">    
        <h1>新規登録</h1>
        <a1>ユーザー情報を入力して新規登録をしてください</a1>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="warning-{{ category }}">
                {{ message|safe }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <div class="uiform">
          <div class="inputField" >
            <label>ユーザー名</label>
            <input type="text" placeholder="ユーザー名を入力" name="name" />
          </div>
          <div class="inputField">
            <label>メールアドレス</label>
            <input type="text" placeholder="aaaaa@example.co.jp" name="email" />
          </div>
          <div class="inputField">
            <label>パスワード</label>
            <input type="password" placeholder="パスワード" name="password" />
          </div>
                    <div class="inputField">
            <label>パスワード(確認用)</label>
            <input type="password" placeholder="パスワード(確認用)" name="password_confirmation" />
          </div>
          <button class="signup_button" type="submit">新規登録</button>
      <a class="switch-login" href="/login">
        ログインはこちら
      </a>
        </div>
      </form>
    </div>
    <footer>
      &copy 2025 ハッカソン冬の陣 チームH 背水の陣制作委員会
    </footer>
  </body>


</html>