/*login.htmlに追加,変更した部分　～ここから～　*/

.error-message {
  width: 420px;
  height: 35px;
  border: 1px solid #FF0000;
  background-color: #FFE4E1;
  color: red;
  font-size: 16px;
  
  border-radius: 12px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 27px;
}

 .login-form {
  border: 4px solid #00008b;
  border-radius: 15px;
  width: 460px;
  height: 500px;  /*微調整*/
  margin: 0 auto;
  margin-top: 40px;
 
 }

 .login-desc {
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 27px;   /*微調整*/
 }

 /*login.htmlに追加,変更した部分　～ここまで～　*/


html,body {
  height: 100%; 
  margin: 0; 
}

body {
  min-height: 1024px; 
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; 
}

header {
  display: flex;
  justify-content: center;
}

header img {
  width: 480px;
  height: 140px; 
}


 .login-title {
  text-align: center;
  font-size: 20px;
  
  margin-top: 27px;
 }



.label {
  font-size: 16px;
  display: block;
  margin-left: 24px;
  margin-bottom: 3px;
  
}

.login-input {
  display: block;
  width: 420px;
  height: 44px;
  border: 2px solid #00008b;
  border-radius: 15px;
  margin: 0 auto;
  margin-bottom: 25px;
  box-sizing: border-box;
  padding: 10px;
  font-size: 18px;
}


input:placeholder-shown {
  background-color: white;
}

input:not(:placeholder-shown):valid {
  background-color: #EAF4FF;
}

.login-input :focus {
  border: 3px solid #00008b;
}

.login-button {
  display: block;
  width: 420px;
  height: 44px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  background-color: #00008B;
  color: #ffffff;
  border-radius: 12px;
  border: none;
  margin: 0 auto;
  margin-top: 40px;
}

.login-button:hover { 
  background-color: #000080;
  transform: translateY(-1px); 
  box-shadow: 0 10px 22px rgba(37,99,235,0.3);

}

.signup-link {
  display: block;
  text-align: center;
  color: #00008B;
  font-size: 16px;
  font-weight:bold;
  margin-bottom: 43px;
  margin-top:28px;
}

footer {
  background-color: #00008B;
  width: 480px;
  height: 24px;
  text-align: center;
  color: white;
  margin: 0 auto;
  font-size: 13px;
}

.flash-custom {
  text-align: center;
}

.flash {
  width: 410px;
  height: 35px;
  border-radius: 8px;
  border-left: 10px solid;
  font-size: 16px;
  display: inline-block;
  line-height: 35px; 
  margin: 16px 0;
}

.flash-success {
  background: #e9f7ec;
  color: #1e824c;
}

.flash-error {
  background: #fdecea;
  color: #c0392b;
}



/*
.flash-messages {
  margin: 16px 0;
  padding: 0;
}

.flash {
  padding: 12px 16px;
  border-radius: 6px;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 1.4;
  border-left: 6px solid #ccc;
  background: #f9f9f9;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.flash-success {
  background: #e9f7ec;
  border-left-color: #27ae60;
  color: #1e824c;
}

.flash-error {
  background: #fdecea;
  border-left-color: #e74c3c;
  color: #c0392b;
}