* {
        margin: 0 auto;
}

body {
    width: 480px;
    box-sizing: border-box;
}

button {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    background: none;
}

.img_logo > img {
    display: block;
    width: 480px;
    height: 140px; 
    margin-bottom: 10px;
}

.tagu {
    margin-bottom: 10px;
    width: 460px;
    font-size: 12px;
    font-weight:700;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    width: 460px;
    margin-bottom: 10px;
}

a {
    margin: 0;
    text-decoration: none;
}

.top {
    margin: 0;
}

.out {
    margin: 0;
}

.return_top {
    appearance: none;
    border: none;
    background-color: #708090;
    border-radius: 8px;
    height: 32px;
    color: #FFFFFF;
    text-align: center;
    line-height: 32px;
    font-size: 12px;
    padding: 0 10px 0 10px;
}

.return_top:hover {
    background-color: #346ba1;
}

.achievement {
    display: grid;
    height: 24px;
    grid-template-columns: 230px 230px;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 10px;    
}

.achievement_cnt > img {
    height: 24px;
    margin: 0;
}

.achievement_cnt {
    display: flex;
    height: 24px;
    font-size: 18px;
}

.post_frame {
    display: flex;
    justify-content: center;
    border: 1.5px solid #00008B;
    box-sizing: border-box;
    border-radius: 16px;
    width: 460px;
    margin-bottom: 10px;
}

.post_coment.deatline {
  font-size: 16px;
  font-weight: 600;
}

.top_post {
    margin: 10px 0 10px 0; 
    width: 440px;
}

.username{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;

}

.name_at {
    margin: 0 0 20px 0;
}

.created_at {
    margin: 0 0 20px 0;
    color: #AFAFAF;
    font-size: 14px;
    font-weight: 600;
}

.post_coment {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
    overflow-wrap: anywhere;
}

.deatline {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
}

.buttons {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.action_button1 {
    margin: 0;
}

.sinchoku {
    margin: 0;
}

.reac_button {
    position: relative;
    margin: 0 5px 0 0;
    background-color: #B0C4DE;
    border: 1px #00008B solid; 
    border-radius: 4px;
    height: 28px;
    font-size: 12px;
}

.sinchoku_button {
    margin: 0;
    border: 1px solid #00008B;
    background: #FFFFFF;
    border-radius: 4px;
    font-size: 12px;
    height: 28px;
} 

.sinchoku_button:hover {
    background: #d3e8fc;    
}

footer {
    position: fixed;
    bottom: 0;
    width: 0;
    width: 480px;
    height: 24px;
    font-size: 13px;
    color: #fff;
    text-align: center;
    align-items: flex-end;
    background-color: #00008B;
}

.post-card-tassei {
    display: flex;
    justify-content: center;
    border: 4px solid red;
    box-sizing: border-box;
    border-radius: 16px;
    background-color: #FFEFEF;
    background-image: url(../background_tassei_2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 320px;
    width: 460px;
    margin-bottom: 10px;
}

.post-card-dannen {
    display: flex;
    justify-content: center;
    border: 4px solid #808080;
    box-sizing: border-box;
    border-radius: 16px;
    background-color: #F0F0F0;
    background-image: url(../background_danen_2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 320px;
    width: 460px;
    margin-bottom: 10px;
}

.flash-error {
    background: #fdecea;
    border-radius: 8px;
    border-left: 10px #e74c3c solid;
    color: #c0392b;
    margin: 10px;
}

.flash-error > p {
    padding: 5px 0;
    text-align: center;
}

