* {
        margin: 0 auto;
}

body {
    width: 480px;
    box-sizing: border-box;
}

/* p {
    margin-block: 0;
} */

.img_logo > img {
    display: block;
    width: 480px;
    height: 140px; 
    margin-bottom: 10px;
}

.tagu {
    margin-bottom: 10px;
    width: 460px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    width: 460px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

.top {
    margin: 0;
    background-color: #708090;
    border-radius: 8px;
    height: 32px;
    width: 130px;
    text-align: center;
    line-height: 32px;
}

.out {
    margin: 0;
    background-color: #708090;
    border-radius: 8px;
    height: 32px;
    width: 110px;
    text-align: center;
    line-height: 32px;

}

.menu a {
    color: #FFFFFF;
}

.post_frame {
    border: 1.5px solid #00008B;
    border-radius: 16px;
    width: 460px;
}

.top_post {
    margin: 10px;
    width: 440px;
}

.username{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name_at {
    margin: 0 0 20px 0;
}

.created_at {
    margin: 0 0 20px 0;
    color: #AFAFAF;
}

.post_coment {
    margin-bottom: 20px;
}

.deatline {
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.action_button1 {
    margin: 0;
}

.ouen_button {
    margin: 0 10px 0 0;
    background-color: #B0C4DE;
    border: 1px #00008B solid; 
    border-radius: 5px;
    height: 28px;
}
.gekirei_button {
    margin: 0;
    background-color: #B0C4DE;
    border: 1px #00008B solid; 
    border-radius: 5px;
    height: 28px;
}

.sinchoku_button {
    margin: 0;
    border: 1px solid #00008B;
    border-radius: 5px;
    font-size: 14px;
    align-items: center;
    justify-content: center
}

/* .sinchoku {
    border: 1.5px solid #00008B;
    border-radius: 5px;
    font-size: 14px;
    align-items: center;
    justify-content: center
} */

footer {
    position: fixed;
    bottom: 0;
    width: 0;
    width: 480px;
    height: 24px;
    font-size: 13px;
    color: #fff;
    text-align: center;
    align-items: flex-end;
    background-color: #00008B;
}
