
body {
    width: 480px;
    margin: auto;
}

.img_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.all a {
    margin-left: 0px;
    text-decoration: none;
    font-size: 12px;
    
}

.tagu {
    width: 460px;
    margin: auto;
    padding: 10px 10px;
    font-weight: 700;
}

.menu{ /*menuを2つに分割して両端揃え*/
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 460px;
}

/*｢自分の目標一覧｣と｢トップに戻る｣を横並びにする*/
.menu1 { 
    display: flex;
    font-size: 12px;
}
.menu2{
    justify-content: flex-end;
    margin: 2px 0 5px 0;
}

/*自分の目標一覧ボタンの設定*/
.my {
    background-color: #708090; 
    border-radius: 8px; /*枠を丸く*/
    border-width: 20px; /*以下3つ意味ない*/
    height: 32px;
    width: 110px; /*背景の幅*/
    text-align: center; /*文字をセンターに*/
    line-height: 32px;
}

/*トップに戻るボタンの設定*/
.top {
    background-color: #708090;
    border-radius: 8px;
    border-width: 20px;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    text-align: center;
    margin: 0 0 0 10px; /*leftで指定するべき*/
    padding: 0 10px;
}

/*ログアウトボタンの設定*/
.out {
    background-color: #708090;
    border: none;
    border-radius: 8px;
    height: 32px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    line-height: 32px;
    padding: 0 10px;
}

/*ボタンの色設定*/
.menu a {
    color: #FFFFFF;
}

/*応援と激励の部分を両端に分割*/
.total_action {
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

/*項目を囲む箱を作成　太さ、色などの設定*/
.top_post {
    border: 1.5px solid #00008B;
    padding: 7px 9px 9px 15px;
    border-radius: 10px;
    margin: 5px 0 5px 0;
}

/*ユーザーネームと更新日を両端に分割*/
.username {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 10px 0px;
}

.name {
    font-weight: 600;
    font-size: 14px;
}

.post_coment {
    font-weight: 600;
    margin: 20px auto;
    font-size: 16px;
}

.hi {
    color: #AFAFAF;
    font-size: 14px;
    font-weight: 600;
}

p {
    padding: 0;
    margin: 0;
}

/*期日の位置調整*/
.deatline {
    padding: 9px 0 5px 0;
    font-weight: 600;
}

/*｢頑張れ･どうした？｣と｢達成！･断念｣の2つに分けて両端に分割*/
.buttons {
    display: flex;
    justify-content: space-between;
}

/*意味ないかも*/
.span {
    display: flex;
    align-items: flex-end;
}

/*応援と激励ボタンの設定*/
.ganba_button {
    margin: 0 5px 3px 2px;
    background-color: #B0C4DE;
    border-radius: 5px;
    height: 28px;
    border: 1px #00008B solid;
}
.dousita_button {
    margin: 0 0 3px 0;
    background-color: #B0C4DE;
    border-radius: 5px;
    height: 28px;
    border: 1px #00008B solid;
}

/*ほぼ意味のない記述　間隔をあけるだけ*/
.result_button {
    display: flex;
    justify-content: flex-end;
    padding: 0 3px 3px 0;
}

.action1, .action2 {
    display: flex;
    font-size: 20px;
}
.tassei {
   margin-right: 7px;
   font-size: 18px;
   background-color: #FF6969;
   border-radius: 5px;
   border: none;
}

.dannnen {
    font-size: 18px;
    background-color: #848484;
    border-radius: 5px;
    border: none;
}

/*進捗入力を箱で囲う*/
.new_progress {
    border: 1.5px solid #00008B;
    background-color: #EAF4FF;
    border-radius: 16px;
    margin: 10px 10px ;
    justify-content: center;
    padding: 10px;
}


label {
    font-weight: bold;
    margin-left: 13px;
}

/*メッセージボックスの設定*/
.message {
    width: 470px;
    height: auto;
    display: flex;
    justify-content: center;
}

/*入力部分の設定*/
textarea {
    width: 415px;
    height: 40px;
    border-radius: 12px;
    display: block;
    margin: auto;
    margin-top: 8px;
    padding: 10px;
} 

.toukou_button {
    display: flex;
    justify-content: flex-end;
    text-align: center;
}

/*投稿ボタンの設定*/
.post_button{
    background-color: #00008B;
    color: #FFFFFF;
    width: 82px;
    height: 40px;
    text-align: center;
    align-items: center;
    border-radius: 8px;
    margin-top: 10px;
}

.progress_post {
    border: 1.5px solid #00008B;
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px 6px 10px 6px;
    width: 450px;
}

.update_day {
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
}

.sinchoku {
    margin-left: 5px;
}

.action_button2 {
    display: flex;
    align-items: flex-end;
    margin-top: 15px;
}

.subara_button {
    margin: 0 5px 3px 2px;
    background-color: #B0C4DE;
    border-radius: 5px;
    height: 28px;
    border: 1px #00008B solid;
}

.konjou_button {
    margin: 0 0 3px 0;
    background-color: #B0C4DE;
    border-radius: 5px;
    height: 28px;
    border: 1px #00008B solid;
}

.btn-progress {
    width: 82px;
    height: 40px;
    color: white;
    background-color: #00008b;
    border-radius: 8px;
    margin: 10px 0 0 0;
    border: none;
    align-items: end;
    margin-left: 352px;
}

.flash {
    display: flex;
    justify-content: center;
    background: #fdecea;
    width: 420px;
    border-radius: 8px;
    border-left: 10px #e74c3c solid;
    height: 35px;
    margin-top: 0;
    color:  #c0392b;
    align-items: center;
    margin: auto;
 }

 .flash-success {
  background: #e9f7ec;
  border-left-color: #27ae60;
  color: #1e824c;
}

.flash-error {
  background: #fdecea;
  border-left-color: #e74c3c;
  color: #c0392b;
}

/*自分の投稿一覧のCSS
ほぼ同じなのでこのファイルを適用しても大丈夫なように
進捗の設定を記述　post_detailには関係ない*/
.sinchoku {
    border: 1.5px solid #00008B;
    border-radius: 5px;
    font-size: 18px;
    align-items: center;
    justify-content: center
}


footer {
    position: fixed;
    bottom: 0;
    width: 0;
    width: 480px;
    height: 24px;
    font-size: 13px;
    color: #fff;
    text-align: center;
    align-items: flex-end;
    background-color: #00008B;
}

.post-card {
  width: 440px;
  height: 150px;
  border: 1px solid #00008b;
  border-radius: 16px;
  margin: 5px auto;
  padding: 10px;
}

.post-card-tassei {
  width: 440px;
  height: auto;
  border-radius: 16px;
  margin: 5px 10px;
  padding: 10px;
  box-shadow: inset 0 0 0 4px #FF0000;
  background-image: url("../../static/background_tassei_2.png");
  background-size: 320px 110px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FFEFEF;
}

.post-card-dannen {
  width: 440px;
  height: 150px;
  border: 1px solid #00008b;
  border-radius: 16px;
  margin: 5px auto;
  padding: 5px;
  box-shadow: inset 0 0 0 4px #808080;
  background-image: url("../../static/background_danen_2.png");
  background-size: 320px 110px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f0f0f0;
}