
body {
    width: 480px;
    margin: auto;
}

.img_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.all a {
    margin-left: 0px;
    text-decoration: none;
}

.menu{ /*menuを2つに分割して両端揃え*/
    font-size: 17px;
    display: flex;
    justify-content: space-between;
}

/*｢自分の目標一覧｣と｢トップに戻る｣を横並びにする*/
.menu1 { 
    display: flex;
    margin: 2px 2px 5px 1px;
}
.menu2{
    justify-content: flex-end;
    margin: 2px 0 5px 0;
}

/*自分の目標一覧ボタンの設定*/
.my {
    background-color: #708090; 
    border-radius: 8px; /*枠を丸く*/
    border-width: 20px; /*以下3つ意味ない*/
    justify-content: center;
    height: 32px;
    width: 140px; /*背景の幅*/
    text-align: center; /*文字をセンターに*/
}

/*トップに戻るボタンの設定*/
.top {
    background-color: #708090;
    border-radius: 8px;
    border-width: 20px;
    height: 32px;
    width: 130px;
    text-align: center;
    margin: 0 0 0 3px; /*leftで指定するべき*/
}

/*ログアウトボタンの設定*/
.out {
    background-color: #708090;
    border: none;
    border-radius: 8px;
    height: 32px;
    width: 110px;
    text-align: center;
}

/*ボタンの色設定*/
.menu a {
    color: #FFFFFF;
}

/*応援と激励の部分を両端に分割*/
.total_action {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

/*項目を囲む箱を作成　太さ、色などの設定*/
.top_post {
    border: 1.5px solid #00008B;
    padding: 7px 9px 9px 15px;
    border-radius: 10px;
    margin: 5px 0 5px 0;
}

/*ユーザーネームと更新日を両端に分割*/
.username {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 10px 0px;
}

p {
    padding: 0;
    margin: 0;
}

/*期日の位置調整*/
.deatline {
    padding: 9px 0 5px 0;
}

/*｢頑張れ･どうした？｣と｢達成！･断念｣の2つに分けて両端に分割*/
.buttons {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

/*意味ないかも*/
.action_button1 {
    display: flex;
    align-items: flex-end;
}

/*応援と激励ボタンの設定*/
.ouen_button {
    margin: 0 3px 3px 2px;
    background-color: #B0C4DE;
    border-radius: 5px;
    height: 28px;
}
.gekirei_button {
    margin: 0 0 3px 0;
    background-color: #B0C4DE;
    border-radius: 5px;
    height: 28px;
}

/*ほぼ意味のない記述　間隔をあけるだけ*/
.result_button {
    display: flex;
    justify-content: flex-end;
    padding: 0 3px 3px 0;
}
.tassei {
   margin-right: 7px;
   font-size: 18px;
   background-color: #FF6969;
   border-radius: 5px;
   border: none;
}

.dannnen {
    font-size: 18px;
    background-color: #848484;
    border-radius: 5px;
    border: none;
}

/*進捗入力を箱で囲う*/
.new_progress {
    border: 1.5px solid #00008B;
    background-color: #EAF4FF;
    border-radius: 10px;
}


label {
    font-weight: bold;
    margin-left: 13px;
}

/*メッセージボックスの設定*/
.message {
    width: 470px;
    height: auto;
    display: flex;
    justify-content: center;
}

/*入力部分の設定*/
textarea {
    width: 445px;
    height: 80px;
    border-radius: 6px;
    display: block;
    margin: auto;
    margin-top: 8px;
} 

.toukou_button {
    display: flex;
    justify-content: flex-end;
    text-align: center;
}

/*投稿ボタンの設定*/
.post_button{
    background-color: #00008B;
    color: #FFFFFF;
    margin: 5px ;
    width: 65px;
    height: 36px;
    text-align: center;
    align-items: center;
    border-radius: 5px;
}

.progress_post {
    border: 1.5px solid #00008B;
    border-radius: 10px;
    margin-top: 5px;
    padding: 7px 9px 9px 15px;
}

.update_day {
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
}

.sinchoku {
    margin-left: 5px;
}

.action_button2 {
    display: flex;
    align-items: flex-end;
    margin-top: 15px;
}

.subara_button {
    margin: 0 3px 3px 2px;
    background-color: #B0C4DE;
    border-radius: 5px;
    height: 28px;
}

.oi_button {
    margin: 0 0 3px 0;
    background-color: #B0C4DE;
    border-radius: 5px;
    height: 28px;
}

/*自分の投稿一覧のCSS
ほぼ同じなのでこのファイルを適用しても大丈夫なように
進捗の設定を記述　post_detailには関係ない*/
.sinchoku {
    border: 1.5px solid #00008B;
    border-radius: 5px;
    font-size: 18px;
    align-items: center;
    justify-content: center
}


footer {
    position: fixed;
    bottom: 0;
    width: 0;
    width: 480px;
    height: 24px;
    font-size: 13px;
    color: #fff;
    text-align: center;
    align-items: flex-end;
    background-color: #00008B;
}

