*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    overflow-y: hidden;
    justify-content: center;
    display: flex;
    align-items: center;
}

.signup{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

h1 {
    text-align: center;
}

.signup form { /*青枠の設定*/
    width: 460px;
    height: 656px;
    border-radius: 15px;
    border-color: #00008B;
    border: 4px solid #00008B;
    margin-top: 40px;
} 

.uiform { /*項目と入力枠を2列に*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 500px;
}

.inputField {
    display: flex;
    flex-direction: column;
    width: 420px;
}

.inputField input {
    border: 2px solid #0000CD;
    padding: 12px;
    border-radius: 15px;
    font-size: 18px;
}

.inputField label {
    margin-bottom: 3px; /*ボタンと枠の間隔*/
}

button {
    background-color: #00008B;
    color: #FFFFFF;
    width: 420px;
    height: 45px;
    border-radius: 15px;
    margin-top: 30px;
    border: none;
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0;
    width: 0;
    width: 480px;
    height: 24px;
    font-size: 13px;
    color: #fff;
    text-align: center;
    align-items: flex-end;
    background-color: #00008B;
}