.wrapper {
    max-width: 480px;
    align-items: center;
    margin: auto;
}

.img_logo {
    text-align: center;
}

.box1 {
    width: 470px;
    height: 656px;
    margin: 40px 0px 0px 0px;
    border: 4px solid #00008B;
    border-radius: 15px;
    padding: 4px
    
}

body {
    text-align: center;
}

h2 {
    font-size: 18px;
    text-align: center;
}

.lab {
    width: 420px;
    height: 44px;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    
}


