html,body {
  height: 100%;
  margin: 0;
}

body {
  min-height: 1024px;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pankuzu {
  width: 460px;  
  margin: 10 auto;
  text-align: left;
  font-size: 12px;
  font-weight:700;
}

.btn-mypage-link {
  display: inline-block;
  width: 110px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #708090;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  font-size: 12px;
}                  

.btn-logaut {
  display: inline-block;
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #708090;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  font-size: 12px;
}

.post-form {
  width: 460px;
  height: 170px;
  border: 1px solid #00008b;
  border-radius: 16px;
  margin: 5px auto;
 
}

.post-card {
   width: 460px;
  height: 150px;
  border: 1px solid #00008b;
  border-radius: 16px;
  margin: 5px auto;
}

header {
  display: flex;
  justify-content: center;
}

header img {
  width: 480px;
  height: 140px;
}

footer {
  background-color: #00008b;
  width: 480px;
  height: 24px;
  text-align: center;
  color: white;
  margin: 0 auto;
}