html,body {
  height: 100%;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
}

header img {
  width: 480px;
  height: 140px;
}

body {
  min-height: 1024px;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pankuzu {
  width: 460px;  
  margin: 10 auto;
  text-align: left;
  font-size: 12px;
  font-weight:700;
}

.btn-area {
  width: 460px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.btn-mypage-link {
  display: inline-block;
  width: 110px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #708090;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  font-size: 12px;
}                  

.btn-logaut {
  display: inline-block;
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #708090;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  font-size: 12px;
}

.post-form {
  width: 440px;
  height: 160px;
  border: 1px solid #00008b;
  border-radius: 16px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #EAF4FF;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
}

textarea {
  width: 435px;
  height: 50px;
  border-radius: 12px;
  padding-top: 10px;
  
}

.deadline {
  width: 95px;
  height: 20px;
  border-radius: 8px;
  padding: 5px;
  border: 1px solid #808080;
}

.btn-goal {
  width: 80px;
  height: 40px;
  color: white;
  background-color: #00008b;
  border-radius: 8px;
  margin-left: 247px;
  border: none;
}



.post-card {
   width: 460px;
  height: 150px;
  border: 1px solid #00008b;
  border-radius: 16px;
  margin: 5px auto;
}

footer {
  background-color: #00008b;
  width: 480px;
  height: 24px;
  text-align: center;
  color: white;
  margin: 0 auto;
}